/*!
 * CyberPatriot Custom Styles
 * Copyright 2014-2015
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

/*CUSTOM COLORS*/

.CP-primary-light {
  background-color: #205493 !important;
}
.CP-primary {
  background-color: #112e51 !important;
}
.CP-primary-dark {
  background-color: #010F1F !important;
}

.CP-secondary-light {
  background-color: #e1484c !important;
}
.CP-secondary {
  background-color: #cd2026 !important;
}
.CP-secondary-dark {
  background-color: #981b1e !important;
}

.CP-accent-light {
  background-color: #d6d7d9 !important;
}
.CP-accent {
  background-color: #aeb0b5 !important;
}
.CP-accent-dark {
  background-color: #5b616b !important;
}
.CP-accent-header-text {
	color: #d6d7d9;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
}
.CP-accent-text {
	color: #d6d7d9;
	font-family: 'Exo', sans-serif;
}

.CP-accent-2-light {
  background-color: #fad980 !important;
}
.CP-accent-2 {
  background-color: #f9c642 !important;
}
.CP-accent-2-dark {
  background-color: #fdb81e !important;
}

.header-font {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #aeb0b5;
}

.subheader-font {
	font-family: 'Exo', sans-serif;
	font-weight: normal;
	font-size:18px;
	color: #aeb0b5;
}

.header-bg-img {
	background-image:url(../rsc/img/image17591.jpg);
	background-size: cover;
}

.header-logo-img {
	height: 60px;
	width: auto;
}